* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  padding: 2rem;
}

.app {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-row {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button, textarea, posts {
  border-radius: 8px;
}

input {
  padding: 0.25rem;
}

button {
  padding: 0.5rem;
  background: #3b82f6;
}

textarea {
  max-width: 300px;
  padding: 0.25rem;

}

.posts {
  border: 1px #eee solid;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: .5rem;
}


