* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  padding: 2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

.board .cell {
  height: 100px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #333;
}
