* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  padding: 2rem;
}

.app {
  padding: 30px;
  width: 300px;
}

h1 {
  margin-bottom: 40px;
}

.list-container {
  height: 240px;
  overflow: hidden;
}
