* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  gap: 0;
}

.cell {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cell.light {
  background: #f0d9b5;
}

.cell.dark {
  background: #b58863;
}

.piece {
  background: slategray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
