* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  padding: 2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 40px);
}

.cell {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.cell.light {
  background: #eee;
}

.cell.dark {
  background: #999;
}

.cell.active {
  background: blue;
}
