* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  padding: 2rem;
}



.app {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  margin: 0 auto; 
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 10px;
}

input {
  border-radius: 8px;
  padding: 0.25rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid black;
  border-top: none;
}

.item {
  padding: 0.15rem;
}


