* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  padding: 2rem;
}

h1 {
  margin-bottom: 40px;
}

.accordian {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  overflow: hidden;
  max-height: 100px;
  transition: max-height 0.2s ease;
  background-color: #fff;
  border-radius: 8px; /* Soften the corners */
  padding: 20px;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);
}

.card.open {
  max-height: 300px;
}

.card h2 {
  margin-bottom: 20px;
}
